.container__color {
  display: block;
  width: 100%;
  height: 15rem;
  background-color: #3f51b5;
}

.container__login__card {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -40px;
}

mat-card {
  padding: 90px 90px;
}

.btn {
  margin-bottom: 15px;
}

.register {
  color: #3f51b5;
}

// .container__login__card a {
//   text-decoration: none;
//   text-align: center;
//   color: #000;
// }

// .container__login__card a:hover {
// }

.container__login {
  display: flex;
  justify-content: center;
}
