<div class="container">
  <div class="container__color"></div>
  <div class="container__login">
    <mat-card class="container__login__card">
      <img src="./assets/img.jpg" alt="" />
      <mat-form-field>
        <mat-label>Usuário</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput type="password" />
      </mat-form-field>
      <button mat-raised-button color="primary" class="btn">Entrar</button>
      <button mat-stroked-button class="btn register">Cadastrar</button>
    </mat-card>
  </div>
</div>
