mat-dialog-content {
  display: flex;
  flex-direction: column;
}
.btn {
  margin-bottom: 15px;
}

table {
  width: 100%;
  overflow-x: auto;
}

th {
  align-items: center;
  color: #000;
}

.mat-header-cell,
.mat-cell {
  text-align: center;
}

.header_dialog {
  display: flex;
  justify-content: space-between;
}

.header_dialog span {
  font-size: 18px;
}

.large-table {
  width: 70vw;
}
