<mat-dialog-content
  class="mat-typography"
  *ngIf="componentType == type.NEW_AND_EDIT_USER"
>
  <h2>Preencha as informações abaixo para cadastrar novo usuário</h2>
  <mat-form-field>
    <mat-label>Escreva o CPF</mat-label>
    <input matInput [(ngModel)]="options.cpf" name="cpf" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Escreva o nome do usuário</mat-label>
    <input matInput [(ngModel)]="options.name" name="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Escreva o email</mat-label>
    <input matInput [(ngModel)]="options.mail" name="mail" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Escreva a senha</mat-label>
    <input
      matInput
      [(ngModel)]="options.password"
      name="password"
      type="password"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tipo de usuário</mat-label>
    <mat-select [(ngModel)]="permissionSelected">
      <mat-option *ngFor="let permission of permissions" [value]="permission">
        {{ permission }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="btn"
    (click)="addOrEditUser()"
  >
    {{ this.data.editing ? "Editar" : "Cadastrar" }}
  </button>
  <button mat-stroked-button color="warn" class="btn" mat-dialog-close>
    Cancelar
  </button>
</mat-dialog-content>

<mat-dialog-content
  class="mat-typography"
  *ngIf="componentType == type.ALL_USER"
>
  <div class="header_dialog">
    <span>Listagem de {{ type.ALL_USER }}</span>
    <button mat-button color="primary" (click)="dialogRef.close()">X</button>
  </div>
  <div>
    <mat-form-field>
      <mat-label>CPF</mat-label>
      <input matInput name="cpf" [(ngModel)]="cpfToSearch" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      style="margin-left: 15px"
      (click)="searchUserByCPF()"
      [disabled]="!cpfToSearch.length"
    >
      Consultar
    </button>
    <button
      mat-raised-button
      color="primary"
      style="margin-left: 15px"
      (click)="showAllUsers()"
    >
      Mostrar todos os usuários
    </button>
  </div>
  <table mat-table [dataSource]="users" #table>
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef>CPF</th>
      <td mat-cell *matCellDef="let element">
        {{ element.cpf }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome completo</th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef>Usuário</th>
      <td mat-cell *matCellDef="let element">
        {{ element.mail }}
      </td>
    </ng-container>

    <ng-container matColumnDef="isAdmin">
      <th mat-header-cell *matHeaderCellDef>Tipo de usuário</th>
      <td mat-cell *matCellDef="let element">
        {{ element.isAdmin ? "Administrador" : "Estudante" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Ações</th>
      <td mat-cell *matCellDef="let row; let element">
        <button mat-button (click)="editDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button (click)="deleteUser(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-dialog-content>

<mat-dialog-content
  class="mat-typography"
  *ngIf="componentType == type.CONFIRM_MEAL"
>
  <div class="header_dialog">
    <span style="padding-bottom: 10px"
      >Preencha o campo com CPF do usuário</span
    >
  </div>
  <mat-form-field>
    <mat-label>CPF do usuário</mat-label>
    <input matInput name="cpf" [(ngModel)]="cpfToSearch" />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="btn"
    (click)="filterSchedulesByUser()"
    [disabled]="!cpfToSearch.length"
  >
    Procurar
  </button>
  <table mat-table [dataSource]="userMeals">
    <ng-container matColumnDef="mealType">
      <th mat-header-cell *matHeaderCellDef>Tipo de refeição</th>
      <td mat-cell *matCellDef="let element">
        {{ element.mealType }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let element">
        {{ utilsService.formatDate(element.mealDate) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Ações</th>
      <td mat-cell *matCellDef="let row; let element">
        <button
          mat-button
          (click)="
            openDialog(
              actionType.CONFIRM_MEAL,
              this.userMeals.data.indexOf(element)
            )
          "
        >
          Confirmar
        </button>
        <button
          mat-button
          (click)="
            openDialog(
              actionType.CONFIRM_PAYMENT,
              this.userMeals.data.indexOf(element)
            )
          "
          disabled="{{ element.isPaid }}"
        >
          Pagar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsSchedule"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsSchedule"></tr>
  </table>
</mat-dialog-content>
