<mat-toolbar color="primary" class="mat-elevation-z4">
  <span>Meal Planner</span>
  <span class="header"></span>
  <button mat-button>MEUS AGENDAMENTOS</button>
  <button mat-button>CONFIGURAÇÕES</button>
  <button mat-button>SAIR</button>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-title>Bem vindo, Wilamis Micael de Araujo Aviz</mat-card-title>
    <mat-card-content>
      <p>
        Nesta área você poderá agendar refeições no campus e consultar suas
        marcações feitas!
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="dashboard">
    <div class="dashboard__ch-pagas__divider__2">
      <h2 class="dashboard__schedule-h2">Agendamentos realizados</h2>
      <h3 class="dashboard__schedule-h3">5</h3>
    </div>
  </mat-card>
</div>
