.header {
  flex: 1 1 auto;
}

.container {
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 70px 0;
}
a {
  text-decoration: none;
  color: #fff;
}

mat-card {
  margin-bottom: 10px;
}

.dashboard {
  text-align: left;
  border-left: 5px solid #7cffb2;
  border-radius: 0px;
}

.dashboard__schedule-h2 {
  color: #7cffb2;
}
.dashboard__schedule-h3 {
  color: #a1a1a1;
}

.container__title-my-schedule {
  padding-left: 5px;
  padding-top: 20px;
}

table {
  width: 100%;
  overflow-x: auto;
}

th {
  align-items: center;
  color: #000;
}

.mat-header-cell,
.mat-cell {
  text-align: center;
}

.btn {
  margin-right: 15px;
}

.container__register-schedule {
  display: flex;
  justify-content: space-evenly;
}
